<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/style.css">
    <link rel="stylesheet" href="/Styles/fonts.css">
    <title>Document</title>
</head>
<body>

    <div class="bach">

    </div>

    <div class="nav" style="margin-top: 30px;">
        <div class="nav-logo"></div>
        <center>
            <div class="nav-links">
                <a class="nav-link l1" href="/">Accueil</a>
                <a class="nav-link l2" href="/product">E-Store</a>
                <a class="nav-link l3" href="/contact">Contact & Réservation</a>
            </div>
        </center>

        <div class="nav-search" onclick = 'var elt = document.getElementsByClassName("nav-search-bar")[0].style; elt.display = "block"'></div>
    </div>

    <div class="location">
        <div class="cards">
            <center>
                <div class="card">
                    <div class="container" style="background-image: url('/Images/logements/logement01.jpeg');"></div>
                </div>
                <div class="card">
                    <div class="container" style="background-image: url('/Images/logements/logement02.jpeg');"></div>
                </div>
                <div class="card">
                    <div class="container" style="background-image: url('/Images/logements/logement04.jpeg');"></div>
                </div>

                <div class="card">
                    <div class="container" style="background-image: url('/Images/logements/logement03.png');"></div>
                </div>
                <div class="card">
                    <div class="container" style="background-image: url('/Images/logements/logement06.png');"></div>
                </div>
                <div class="card">
                    <div class="container" style="background-image: url('/Images/logements/logement08.jpeg');"></div>
                </div>
                <div class="card">
                    <div class="container" style="background-image: url('/Images/logements/logement05.jpeg');"></div>
                </div>
                <div class="card">
                    <div class="container" style="background-image: url('/Images/logements/logement09.jpeg');"></div>
                </div>
                <div class="card">
                    <div class="container" style="background-image: url('/Images/logements/logement10.jpeg');"></div>
                </div>
                
            </center>
        </div>
    </div>

    <div class="caroussel">
        <div class="present"></div>
        <div class="desc">
            <div class="title"></div>
            <div class="infos"></div>
            <div class="price"></div>
            <div class="contact">
                <div class="number">+237 699 06 96 93</div>
                <div class="mail">door.place@outlook.com</div>
            </div>
        </div>
    </div>

</body>
</html>