<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/style.css">
    <link rel="stylesheet" href="/Styles/fonts.css">
    <title>Document</title>
</head>
<body>

    <div class="bach">

    </div>

    <div class="nav" style="margin-top: 30px;">
        <div class="nav-logo"></div>
        <center>
            <div class="nav-links">
                <a class="nav-link l1" href="/">Accueil</a>
                <a class="nav-link l2" href="/product">E-Store</a>
                <a class="nav-link l3" href="/contact">Contact & Réservation</a>
            </div>
        </center>

        <div class="nav-search" onclick = 'var elt = document.getElementsByClassName("nav-search-bar")[0].style; elt.display = "block"'></div>
    </div>

    <div class="banner">
        <center><div class="welcome">BIENVENUE A <br>DANGHAOUSSA</div></center>
    </div>

    <div class="section">
        <div class="header">
            <a href="/">
                <div class="img home"></div>
                <div class="text">Présentation du village</div>
            </a>


            <a href="/product">
                <div class="img e-store"></div>
                <div class="text">Faire des achat</div>
            </a>


            <a href="/contact">
                <div class="img reserv" style="background-image: url('/Images/calendar-16-regular.svg');"></div>
                <div class="text">Booker un logement</div>
            </a>
        </div>

        <div class="body">
            <div>
                <img src="../Images/Banner6.jpg" height="100%">
            </div>

            <div>
                <img src="../Images/produit/miel3.jpg" height="100%">
            </div>

            <div>
                <img src="../Images/logements/logement12.jpeg" height="100%">
            </div>
        </div>
    </div>

</body>
</html>